.clientList {
    margin: 0 auto;
    margin-top: 40px;

    width: 80%;
}

.clients__cards {
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.clientList__menu {
    display: flex;
    justify-content: flex-start;
}

.clientList__item {
    font-family: SB Sans Text;
    margin: 0;
    color: #c2c2c2;
    font-weight: 700;
    margin-right: 20px;
    padding-bottom: 8px;
}



.clientList__item:hover {
    cursor: pointer;
    color: #8d8d8d;
    border-bottom: 3px solid #c2c2c2;
    transition: 0.1s ease;
    border-radius: 3px;
}

.clientList__item_active:hover {
    color: #8d8d8d;
    transition: 0.1s ease;
    border-bottom: 3px solid #08a652;
}


.clientList__item_active {
    color: black;
    border-bottom: 3px solid #08a652;
    border-radius: 3px;
}